@font-face {
	font-family: 'Franklin Gothic Book';
	src: url('fonts/FRABK.eot');
	src: url('fonts/FRABK.woff') format('woff'), url('fonts/FRABK.ttf') format('truetype'), url('fonts/FRABK.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'HeliosThin';
	src: url('fonts/HeliosThin.eot');
	src: url('fonts/HeliosThin.woff') format('woff'), url('fonts/HeliosThin.ttf') format('truetype'), url('fonts/HeliosThin.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

