<div id="calculator" class="modal mfp-hide">
    <div class="modal-ttl">Расчитать стоимость</div>
    <form>
        <div class="form-item">
            <span class="label">Ширина окна (см)</span>
            <input type="text">
        </div>
        <div class="form-item">
            <span class="label">Высота окна (см)</span>
            <input type="text">
        </div>
        <label class="item-checkbox">
            <input type="checkbox">
            <span class="custom"></span>
            Монтаж
        </label>
        <label class="item-checkbox">
            <input type="checkbox">
            <span class="custom"></span>
            Демонтаж
        </label>
        <button type="submit">Расчитать</button>
    </form>
</div>