<header class="site-header">
    <div class="container">
        <div class="row">
            <f:cObject typoscriptObjectPath="lib.logo" />
            <f:cObject typoscriptObjectPath="lib.slogan" />
            <div class="links">
                <f:cObject typoscriptObjectPath="lib.headerSocial" />
            </div>
            <f:cObject typoscriptObjectPath="lib.topPhone" />
        </div>
            <f:cObject typoscriptObjectPath="lib.mobilePhone" />
        <div class="bt-menu"></div>
    </div>
</header>