<header class="site-header">
    <div class="container">
        <div class="row">
            <f:cObject typoscriptObjectPath="lib.logo" />
            <div class="links">
                <a href="#calculator" class="calculator magnificPopup"><span>Калькулятор стоимости</span></a>
                <a href="" class="instagram"><span>Instagram</span></a>
            </div>
            <f:cObject typoscriptObjectPath="lib.topPhone" />
        </div>
        <div class="bt-menu"></div>
    </div>
</header>