<f:render partial="Header/Header" arguments="{_all}" />

<main class="promo-box">
    <div class="container">
        <nav class="menu">
            <ul>
                <f:cObject typoscriptObjectPath="lib.navigationMainPageLink" />
                <f:cObject typoscriptObjectPath="lib.navigation" />
            </ul>
        </nav>
        <f:cObject typoscriptObjectPath="lib.bannerLogo" />

        <div class="row">
            <div class="entry">
                <f:render section="section_topinfo" />
            </div>
        </div>
    </div>
</main>

<div class="services-box">
    <div class="container">
        <f:render section="section_content" />
    </div>
</div>

<div class="stock-box">
    <div class="container">
        <f:render section="section_content2" />
    </div>
</div>

<f:render partial="Footer/Footer" arguments="{_all}" />
<f:render partial="Footer/Calc" arguments="{_all}" />


